:root {
  --vp-layout-top-height: 52px;
}

.sp-support-btn {
  position: fixed;
  right: 28px;
  bottom: 28px;
  z-index: 150;
  display: inline-block;
  line-height: 0;
}

@media (max-width: 640px) {
  :root {
    --vp-layout-top-height: 68px;
  }
}

.sp-support-btn img {
  display: block;
  height: 60px;
  border-radius: 999px;
}
