name: CI

on:
  pull_request:
    paths:
      - "**/*.yaml"
      - ".github/workflows/ci.yml"
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build-s3:
    name: Build S3
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Compile
        run: >-
          docker run --rm -v "${PWD}:/config"
          ghcr.io/esphome/esphome:stable
          compile /config/builds/guition-esp32-s3-4848s040.factory.yaml

  build-p4:
    name: Build P4
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Compile
        run: >-
          docker run --rm -v "${PWD}:/config"
          ghcr.io/esphome/esphome:stable
          compile /config/builds/guition-esp32-p4-jc8012p4a1.factory.yaml
