name: Publish Pages

on:
  push:
    branches: [main]
    paths:
      - "static/**"
      - ".github/workflows/publish-pages.yml"
  workflow_run:
    workflows: [Publish Firmware]
    types: [completed]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: mkdir -p output/firmware
      - uses: actions/jekyll-build-pages@v1
        with:
          source: ./static
          destination: ./output
      - uses: robinraju/release-downloader@v1
        with:
          latest: true
          fileName: "*"
          out-file-path: output/firmware
      - uses: actions/upload-pages-artifact@v4
        with:
          path: output
          retention-days: 1

  publish:
    if: github.event_name != 'pull_request'
    name: Publish
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/configure-pages@v5
      - id: deployment
        uses: actions/deploy-pages@v4
